.map-tooltip {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #faf7f3;
    width: 250px;
}

.map-tooltip .name {
    color: #624d15;
    font-weight: 500;
    font-size: 17pt;
    padding-left: 4px;
    border-bottom: 2px solid #cbc4b3;
}

.map-tooltip .details {
    color: #666666;
    font-size: 11pt;
    padding-left:4px;
}

.map-tooltip span {
    font-weight: 600;
}

.map-tooltip .list {
	margin-left: 8px;
}

.map-tooltip ul {
	list-style:none;
}
